body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-image:url('img/background2.jpg');*/
  background-size: 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid red;*/
  /*border-radius:10px;*/
  /*position:fixed;*/
  max-height: 40%;
  display: inline;

}
@-webkit-keyframes spin {
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes hop {
  from {-webkit-transform: translate(0px,0px)}
  to {-webkit-transform: translate(0px, -50px)}
}
@-webkit-keyframes twist {
  from {-webkit-transform: scaleX(1);}
  to {-webkit-transform: scaleX(-1);}
}
@-webkit-keyframes move {
  from{-webkit-transform: rotate(0deg) translate(-40px) rotate(0deg)}
  to {-webkit-transform: rotate(180deg) translate(-40px) rotate(-180deg)}
}
/*.dancer .overlay{
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: .5;
  z-index: 2;
}*/
